body {
    background-color:  coral;
}
h1 {
    text-align: center;
    color: blue;
    text-decoration-line: underline;
}
div.bitcoin {
    color: blue;
    text-align: right;
}
div.etherum {
    color: blue;
    text-align: center;
    background-color: white;
}
div.litecoin {
    color: blue;
}
div.nombre {
    background-color: yellow;
    text-align: center;
}
span.nombre2{
    color: red;
}
input.monedas {
    color: red;
}